<section id="cares-act" class="pt90 pb50">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 mb-30">
                <div class="section-title title-left mb30">
                    <h3>CARES Act Details</h3>
                </div>
                <div id="accordionFlat" class="card-accordions-flat">
                    <div class="card">
                        <div class="card-header" id="flatheadingOne">
                                <a class="collapse-title" data-toggle="collapse" data-target="#flatOne" aria-expanded="true" aria-controls="collapseOne">
                                What is the CARES Act?
                                </a>
                        </div>
    
                        <div id="flatOne" class="collapse show" aria-labelledby="flatheadingOne" data-parent="#accordionFlat">
                            <div class="card-body text-muted">
                                The Coronavirus Aid, Relief, and Economic Security Act (CARES Act) is a $2 trillion stimulus allocated for businesses, individuals, federal agencies, and state and local
                                governments to assist in relieving stress and uncertainty being experienced during the coronavirus pandemic. The CARES Act is designed to distribute capital quickly and 
                                broadly, with many provisions to help small businesses.
                                <span class="section-subTitle">Read the bill here: <a href="https://www.congress.gov/bill/116th-congress/senate-bill/3548/text">CARES Act</a></span>               
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="flatheadingTwo">
                                <a class="collapse-title collapsed" data-toggle="collapse" data-target="#flatTwo" aria-expanded="false" aria-controls="flatTwo">
                                Paycheck Protection Program
                                </a>
                        </div>
                        <div id="flatTwo" class="collapse" aria-labelledby="flatheadingTwo" data-parent="#accordionFlat">
                            <div class="card-body text-muted">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="flatheadingThree">
                                <a class="collapse-title collapsed" data-toggle="collapse" data-target="#flatThree" aria-expanded="false" aria-controls="flatThree">
                                SBA's Economic Injury Disaster Loans (EIDLs) Changes
                                </a>
                        </div>
                        <div id="flatThree" class="collapse" aria-labelledby="flatheadingThree" data-parent="#accordionFlat">
                            <div class="card-body text-muted">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>                  
