<div class="cta bg-dark pt90 angle-top mt70 pb60">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 wow fadeInLeft mb30" data-wow-delay=".1s">
                <img src="assets/images/small_biz.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 pb40">
                <h2 class="text-white font300 mb20">
                    Learn how to get support for your small business
                </h2>
                <p class="lead  text-white-gray">
                    The COVID-19 outbreak is straining individuals and small businesses across the nation. 
                    Learn more on what resources are available to support you through this crisis!
                </p>
            </div>
        </div>
    </div>
</div>
<section id="cares-act" class="pt90 pb50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center mb30">
                <div class="section-title">
                    <span class="section-subTitle">Find out more</span>
                    <h3 class="mb0">CARES Act Details</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-30">
                <div id="accordionFlat" class="card-accordions-flat">
                    <div class="card">
                        <div class="card-header" id="flatheadingOne">
                                <a class="collapse-title" data-toggle="collapse" data-target="#flatOne" aria-expanded="true" aria-controls="collapseOne">
                                What is the CARES Act?
                                </a>
                        </div>
    
                        <div id="flatOne" class="collapse show" aria-labelledby="flatheadingOne" data-parent="#accordionFlat">
                            <div class="card-body text-muted text-center">
                                The Coronavirus Aid, Relief, and Economic Security Act (CARES Act) is a $2 trillion stimulus allocated for businesses, individuals, federal agencies, and state and local
                                governments to assist in relieving stress and uncertainty being experienced during the coronavirus pandemic. The CARES Act is designed to distribute capital quickly and 
                                broadly, with many provisions to help small businesses. <br>
                                <button class="btn-lg btn-success mt10 mb10">
                                    <a class="text-white-gray" href="https://www.congress.gov/bill/116th-congress/senate-bill/3548/text" target="_blank">
                                        Read the CARES Act
                                    </a>
                                </button>               
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="flatheadingTwo">
                                <a class="collapse-title collapsed" data-toggle="collapse" data-target="#flatTwo" aria-expanded="false" aria-controls="flatTwo">
                                Paycheck Protection Program
                                </a>
                        </div>
                        <div id="flatTwo" class="collapse" aria-labelledby="flatheadingTwo" data-parent="#accordionFlat">
                            <div class="card-body text-muted text-center">
                                The Paycheck Protection Program (PPP) is a loan program that provides loan forgiveness for retaining employees. 
                                This expands the tradition SBA 7(a) loan program turning these loans to grants if funds are used towards payroll costs. <br>
                                <button class="btn-lg btn-primary mt10 mb10">
                                    <a class="text-white-gray" href="#ppp">
                                        Read more on PPP
                                    </a>
                                </button>
                            </div>    
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="flatheadingThree">
                                <a class="collapse-title collapsed" data-toggle="collapse" data-target="#flatThree" aria-expanded="false" aria-controls="flatThree">
                                Economic Injury Disaster Loans Advances
                                </a>
                        </div>
                        <div id="flatThree" class="collapse" aria-labelledby="flatheadingThree" data-parent="#accordionFlat">
                            <div class="card-body text-muted text-center">
                                The Economic Injury Disaster Loans (EIDLS) are loan advances that will provide up to $10,000 of economic relief to businesses that are
                                experiencing difficulties in this crisis. It will provide economic relief to businesses currently experiencing a temporary loss of revenue.
                                Funds will be made available within three (3) days of successful application according to the Small Business Association.<br>
                                <button class="btn-lg btn-danger mt10 mb10">
                                    <a class="text-white-gray" href="#eidls">
                                        Read more on EIDL Advances
                                    </a>
                                </button>
                            </div>   
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="flatheadingFour">
                                <a class="collapse-title collapsed" data-toggle="collapse" data-target="#flatFour" aria-expanded="false" aria-controls="flatFour">
                                SBA Express Bridge Loans
                                </a>
                        </div>
                        <div id="flatFour" class="collapse" aria-labelledby="flatheadingFour" data-parent="#accordionFlat">
                            <div class="card-body text-muted text-center">
                                The Economic Injury Disaster Loans (EIDLS) are loan advances that will provide up to $10,000 of economic relief to businesses that are
                                experiencing difficulties in this crisis. It will provide economic relief to businesses currently experiencing a temporary loss of revenue.
                                Funds will be made available within three (3) days of successful application according to the Small Business Association.<br>
                                <button class="btn-lg btn-info mt10 mb10">
                                    <a class="text-white-gray" href="#express-loans">
                                        Read more on Express Bridge Loans
                                    </a>
                                </button>
                            </div>   
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="flatheadingFive">
                                <a class="collapse-title collapsed" data-toggle="collapse" data-target="#flatFive" aria-expanded="false" aria-controls="flatFive">
                                SBA Debt Relief
                                </a>
                        </div>
                        <div id="flatFive" class="collapse" aria-labelledby="flatheadingFive" data-parent="#accordionFlat">
                            <div class="card-body text-muted text-center">
                                The Economic Injury Disaster Loans (EIDLS) are loan advances that will provide up to $10,000 of economic relief to businesses that are
                                experiencing difficulties in this crisis. It will provide economic relief to businesses currently experiencing a temporary loss of revenue.
                                Funds will be made available within three (3) days of successful application according to the Small Business Association.<br>
                                <button class="btn-lg btn-warning mt10 mb10">
                                    <a class="text-white-gray" href="#debt-relief">
                                        Read more on SBA Debt Relief
                                    </a>
                                </button>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>                  
<div class='pt50 pb40 bg-primary'>
    <div class='container'>
        <div class='row align-items-center'>
            <div class='col-md-8'>
                <h3 class='text-white '>Need help applying? Get free business counseling through Small Business Association counselors</h3>
            </div>
            <div class='col-md-4 text-center'>
                <a data-scroll href='https://www.sba.gov/local-assistance/find/' class='hover-me1' target="_blank">Find a counselor</a>
            </div>
        </div>
    </div>
</div>