<footer class='footer'>
    <div class='container'>
        <div class='row'>
          <div class='col-md-6'>
            <div class='clearfix socials'>
                 <a href="https://github.com/hanucane/corona-support" class="social-icon si-border si-github" target="_blank">
                <i class="fa fa-github"></i>
                <i class="fa fa-github"></i>
            </a>
            </div>
        </div>
            <div class='col-md-6 text-md-right text-center'>
                <span>&copy; Copyright 2020. Corona Support</span>
            </div>
        </div>
    </div>
</footer>
