<section id="sba-support" class="pt90 pb50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto text-center mb30">
                <div class="section-title">
                    <span class="section-subTitle">Apply Today</span>
                    <h3 class="mb0">SBA Loan Application Details</h3>
                </div>
            </div>
            <div id="ppp" class='col-md-6 mb40'>
                <img src='assets/images/PPP_logo.png' alt='' class='img-fluid center-img shadow-card mb30'>
                <h5 class='text-uppercase'>Paycheck Protection Program</h5>
                <p>
                    The Paycheck Protection Program (PPP) is a SBA loan designed to provide a direct incentive for small businesses 
                    to keep employees on the payroll. 
                </p>
                <div class="col-lg-12 mb-30">
                    <div class="rounded shadow-sm p-3 bg-white">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills" role="tablist">
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link active show" href="#ppp-apply" aria-controls="ppp-apply" role="tab" data-toggle="tab">Who Can Apply</a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#ppp-forms" aria-controls="ppp-forms" role="tab" data-toggle="tab">Application Forms</a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#ppp-forgive" aria-controls="ppp-forgive" role="tab" data-toggle="tab">Forgiveness Details</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content pt-3">
                                <div role="tabpanel" class="tab-pane show active" id="ppp-apply">
                                    <ul>
                                        <li>Any small business with less that 500 employees, private non-profit organization, or 501(c)(19) veterans organizations affected by COVID-19</li>
                                        <li>Includes sole proprietorships, independent contractors and self-employed persons</li>
                                        <li>Businesses in certain industries may have more than 500 employees 
                                            (See: <a href="https://www.sba.gov/document/support--table-size-standards" target="_blank">SBA's size standards</a>)
                                        </li>
                                        <li>
                                            Small businesses in hospitality and food industry with more than one location could be eligible if their individual 
                                            locations employ less than 500 workers.
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="ppp-forms">
                                    <ul>
                                        <li>To begin preparing your application, download a copy of the PPP borrower application form to see what information a lender will request from you</li>
                                        <li>Government and lenders will not charge small businesses any fees</li>
                                        <li>Learn more about 
                                            <a href="https://www.sba.gov/sites/default/files/2020-04/Affiliation%20rules%20overview%20%28for%20public%29%20v2.pdf" target="_blank">
                                                Affiliation rules applicable to PPP
                                            </a>
                                        </li>
                                        <li>The PPP will be available through June 30, 2020. Apply as soon as possible!</li>
                                        <li class="list-unstyled">
                                            <button class="btn-lg btn-success mt10">
                                                <a class="text-white-gray" href="https://www.sba.gov/sites/default/files/2020-04/PPP%20Borrower%20Application%20Form.pdf" target="_blank">
                                                    PPP Borrower Application Form
                                                </a>
                                            </button> 
                                        </li>
                                    </ul>    
                                </div>
                                <div role="tabpanel" class="tab-pane" id="ppp-forgive">
                                    <ul>
                                        <li>Loan payments will be deferred for six (6) months</li>
                                        <li>The loan will be fully forgiven if funds are used for payroll costs, interest on mortgages, rent, and utilities</li>
                                        <li>Employer must maintain or quickly rehire employees and maintain salary levels</li>
                                        <li>The loan has a maturity of 2 years and an interest rate of 1%</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="eidls" class='col-md-6 mb40'>
                <img src='assets/images/EIDL_logo.png' alt='' class='img-fluid center-img shadow-card mb30'>
                <h5 class='text-uppercase'>Economic Injury Disaster Loan Emergency Advance</h5>
                <p>
                    The EIDL Emergency Advance is a loan advance from the Small Business Association for up to $10,000 that will not need to be repaid.
                </p>
                <div class="col-lg-12 mb-30">
                    <div class="rounded shadow-sm p-3 bg-white">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills" role="tablist">
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link active show" href="#eidl-apply" aria-controls="eidl-apply" role="tab" data-toggle="tab">Who Can Apply</a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#eidl-forms" aria-controls="eidl-forms" role="tab" data-toggle="tab">Application Forms</a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#eidl-details" aria-controls="eidl-details" role="tab" data-toggle="tab">EIDL Details</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content pt-3">
                                <div role="tabpanel" class="tab-pane show active" id="eidl-apply">
                                    <ul>
                                        <li>Any small business with less that 500 employees, private non-profit organization, or 501(c)(19) veterans organizations affected by COVID-19</li>
                                        <li>Includes sole proprietorships, independent contractors and self-employed persons</li>
                                        <li>Businesses in certain industries may have more than 500 employees 
                                            (See: <a href="https://www.sba.gov/document/support--table-size-standards" target="_blank">SBA's size standards</a>)
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="eidl-forms">
                                    <ul>
                                        <li>EIDL Emergency Advances applications opened April 3, 2020. Apply as soon as possible!</li>
                                        <li class="list-unstyled">
                                            <button class="btn-lg btn-danger mt10">
                                                <a class="text-white-gray" href="https://covid19relief.sba.gov/#/" target="_blank">
                                                    EIDL Emergency Advances Application 
                                                </a>
                                            </button> 
                                        </li>
                                    </ul>    
                                </div>
                                <div role="tabpanel" class="tab-pane" id="eidl-details">
                                    <ul>
                                        <li>This loan advance is to help small businesses overcome the temporary loss of revenue being experienced as a result of the Coronavirus pandemic</li>
                                        <li>Funds from EIDL Emergency Advances will be made avaiable within three (3) days of a successful application</li>
                                        <li>This loan advance will not have to be repaid by the borrower</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="express-loans" class='col-md-6 mb40'>
                <img src='assets/images/SBA_bridge_logo.png' alt='' class='img-fluid center-img shadow-card mb30'>
                <h5 class='text-uppercase'>SBA Express Bridge Loans</h5>
                <p>
                    The SBA Express Bridge Loan allows small businesses who currently have a business relationship with an SBA Express Lender to access up to $25,000 quickly.
                </p>
                <div class="col-lg-12 mb-30">
                    <div class="rounded shadow-sm p-3 bg-white">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills" role="tablist">
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link active show" href="#bridge-apply" aria-controls="bridge-apply" role="tab" data-toggle="tab">Who Can Apply</a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#bridge-forms" aria-controls="bridge-forms" role="tab" data-toggle="tab">Application Forms</a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#bridge-details" aria-controls="bridge-details" role="tab" data-toggle="tab">Additional Details</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content pt-3">
                                <div role="tabpanel" class="tab-pane show active" id="bridge-apply">
                                    <ul>
                                        <li>Currently have a business relationship with an SBA Express Lender</li>
                                        <li>
                                            For Presidential Disaster Declarations, small businesses that were located, as of the date
                                            of the applicable disaster, in Primary Counties that were declared disaster areas or in any Contiguous Counties (share common border)
                                        </li>
                                        <li>
                                            For the COVID-19 Emergency Declaration, small businesses located in any state, territoy and the District of Columbia 
                                            that have been adversely impacted by the COVID-19 emergency
                                        </li>
                                        <li>Must have been operational when the declared disaster commenced</li>
                                        <li>Must meet all other  
                                            <a href="https://www.ecfr.gov/cgi-bin/text-idx?SID=40c56d244eaa72026eaf7b8c125bb7ec&mc=true&node=pt13.1.120&rgn=div5#sg13.1.120.a.sg2" target="_blank">7(a) loan eligibility requirements</a>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="bridge-forms">
                                    <ul>
                                        <li>Borrower Information Form: 
                                            <a href="https://www.sba.gov/sites/default/files/2018-03/SBA-1919.pdf" target="_blank">SBA Form 1919</a>
                                        </li>
                                        <li>Lender's Application for Loan Guarantee:
                                            <a href="https://www.sba.gov/sites/default/files/2019-09/Form%201920.pdf" target="_blank">SBA Form 1920</a>
                                        </li>
                                        <li>Must be submitted by Lender with application:
                                            <a href="https://www.irs.gov/pub/irs-pdf/f4506t.pdf">IRS Form 4506-T</a>
                                            or equivalent form
                                        </li>
                                        <li>If there is an application fee by Lender:
                                            <a href="https://www.sba.gov/sites/default/files/2018-09/Form%20159%20-%20%28FINAL%29%209.10.18.pdf" target="_blank">SBA Form 159</a>
                                        </li>
                                        <li>If proceeds will be used for construction of more than $10,000:
                                            <a href="https://www.sba.gov/sites/default/files/files/SBA_601_3.pdf" target="_blank">SBA Form 601</a>
                                        </li>
                                        <li>If you answer "yes" to questions 18 and/or 19 on SBA Form 1919:
                                            <a href="https://www.sba.gov/sites/default/files/2019-12/SBA-912.pdf" target="_blank">SBA Form 912</a>
                                        </li>
                                    </ul>    
                                </div>
                                <div role="tabpanel" class="tab-pane" id="bridge-details">
                                    <ul>
                                        <li>For more specific details regarding SBA Express Bridge Loans read the Express Bridge Loan Program Guide</li>
                                        <li class="list-unstyled">
                                            <button class="btn-lg btn-info mt10">
                                                <a class="text-white-gray" href="https://www.sba.gov/sites/default/files/2020-03/Express-Bridge-Loan-Pilot-Program-Guide-FINAL-3.25.20.pdf" target="_blank">
                                                    Express Bridge Loan Program Guide 
                                                </a>
                                            </button> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="debt-relief" class='col-md-6 mb40'>
                <img src='assets/images/SBA_relief_logo.png' alt='' class='img-fluid center-img shadow-card mb30'>
                <h5 class='text-uppercase'>SBA Debt Relief</h5>
                <p>
                    The SBA is providing a financial relief to small businesses during the coronavirus pandemic
                </p>
                <div class="col-lg-12 mb-30">
                    <div class="rounded shadow-sm p-3 bg-white">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills" role="tablist">
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link active show" href="#relief-details" aria-controls="relief-details" role="tab" data-toggle="tab">Relief Details</a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#relief-additional" aria-controls="relief-additional" role="tab" data-toggle="tab">Additional Details</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content pt-3">
                                <div role="tabpanel" class="tab-pane show active" id="relief-details">
                                    <ul>
                                        <li>
                                            The SBA will automatically pay the principal, interest, and fees of a <b>current</b> 7(a), 504, and microloans for a period of six (6) months
                                        </li>
                                        <li>
                                            The SBA will also automatically pay the principal, interest, and fees of a <b>new</b> 7(a), 504. and microloans
                                            issued prior to September 27, 2020
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="relief-additional">
                                    <ul>
                                        <li>If your SBA serviced disaster loan was in "regular servicing" status on March 1, 2020, the SBA is providing automatic deferments through December 31, 2020</li>
                                        <li class="list-unstyled">
                                            <button class="btn-lg btn-warning mt10">
                                                <a class="text-white-gray" href="https://www.sba.gov/funding-programs/loans/coronavirus-relief-options/sba-debt-relief#section-header-2" target="_blank">
                                                    Automatic Deferral Definitions
                                                </a>
                                            </button> 
                                        </li>
                                    </ul>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class='pt50 pb40 bg-primary'>
    <div class='container'>
        <div class='row align-items-center'>
            <div class='col-md-8'>
                <h3 class='text-white '>Need help applying? Get free business counseling through Small Business Association counselors</h3>
            </div>
            <div class='col-md-4 text-center'>
                <a data-scroll href='https://www.sba.gov/local-assistance/find/' class='hover-me1' target="_blank">Find a counselor</a>
            </div>
        </div>
    </div>
</div>